{% extends '/admin/base.html' %}
{% block body %}
<style>
    body {
        font-family: 'Poppins', sans-serif;
        text-align: center;
    }

    .flights {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }

    .flight {
        border: 3px solid;
        padding: 80px;
        border-radius: 22px;
        margin: 20px;
    }
    button {
        margin: 15px;
        padding: 10px 35px;
        font-size: 20px;
        border: 3px solid rgb(108, 225, 230);
        background-color: rgb(103, 217, 221);
        border-radius: 22px;
        color: white;
        cursor: pointer;
    }
</style>
<br><br>

<div class="flights">
    <form class="flights">
        <div class="flights">
        {% for flight in flights %}
        <div class="flight">
            <input style="width: 20px; height: 20px; margin: 15px;" type="radio" name="assigned" value="{{flight.id}}" id="">
            <h1 class="airline-name">{{flight.airline}}</h1>
            <p class="trip">{{flight.origin}} -> {{flight.dest}}</p>
        </div>
        {% endfor %}
        <br><br>
        <button>Asignar</button>
    </div>
    </form>
</div>

<br><br><br>
{% endblock %}