{% if yes %}
{% extends 'base.html' %}
{% block title %}Sus vuelos{% endblock %}
{% else %}
{% extends '/admin/base.html' %}
{% endif %}
{% block body %}

<style>
    body{
        font-family: 'Poppins', sans-serif;
        text-align: center;
    }
</style>
{% if not yes %}
<br><br>
<a href="flight/add"><button>Añadir vuelo</button></a>
{% else %}
<br><br>
<h1>Sus vuelos</h1>
{% endif %}
<br><br>
<style>
    .title {
        margin: 40px 0px 10px 0px;
    }

    input {
        border: none;
        border-bottom: 3px solid;
        padding: 15px;
        outline: none;
        font-size: 20px;
        margin: 10px;
    }

    button {
        margin: 15px;
        padding: 10px 35px;
        font-size: 20px;
        border: 3px solid rgb(108, 225, 230);
        background-color: rgb(103, 217, 221);
        border-radius: 22px;
        color: white;
        cursor: pointer;
    }

    a{
        color: blue;
        text-decoration: none;
    }

    a:hover{
        text-decoration: underline;
    }

    th {
        padding: 10px;
        border: 1px solid;
        margin: 0px;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 90%;
        border: 1px solid #ddd;
    }

    th,
    td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2
    }
</style>

<center>
    <div style="overflow-x:auto;">
        <table class="content-table">
            <thead>
                <tr>
                    <th>Aeroínea</th>
                    <th>Estado</th>
                    {% if not yes %}
                    <th>Asignar</th>
                    <th>Editar</th>
                    <th>Borrar</th>
                    <th>Ver</th>
                    <th>Piloto</th>
                    {% endif %}
                    <th>Origen</th>
                    <th>Destino</th>
                    <th>Fecha</th>
                    <th>Hora de salida</th>
                    <th>Hora de llegada</th>
                    <th>Código de vuelo</th>
                    {%if yes%}
                    <th>Ver</th>
                    {% endif %}
                    {% if not yes %}
                    <th>Costo</th>
                    <th>Capacidad</th>
                    {% endif %}
                </tr>
                {% for flight in flights %}
                <tr>
                    <th>{{flight.airline}}</th>
                    <th>{{flight.status}}</th>
                    {% if not yes %}
                    <th><a href="/admin/flight/assign/{{flight.id}}">Asignar</a></th>
                    <th><a href="/admin/flight/edit/{{flight.id}}">Editar</a></th>
                    <th><a href="/admin/flight/delete/{{flight.id}}">Borrar</a></th>
                    <th><a href="/admin/view/{{flight.id}}">Ver</a></th>
                    <th>{{get(flight.pilotid).name}}</th>
                    {% endif %}
                    <th>{{flight.origin}}</th>
                    <th>{{flight.dest}}</th>
                    <th>{{flight.date}}</th>
                    <th>{{flight.dept_time}}</th>
                    <th>{{flight.arr_time}}</th>
                    <th>{{fl(flight)}}</th>
                    {%if yes%}
                    <th><a href="/buy/{{flight.id}}">Ver</a></th>
                    {% endif %}
                    {% if not yes %}
                    <th>{{flight.cost}}</th>
                    <th>{{bookings(flight.id)}}/{{flight.capacity}}</th>
                    {% endif %}
                </tr>
                {% endfor %}
            </thead>
        </table>
    </div>
</center>

<br><br><br>

{% endblock %}