{% extends 'base.html' %}
{% block title %}Reserve su vuelo{% endblock %}
{% block body %}
<link rel="stylesheet" href="{{url_for('static', filename='comments.css')}}">
<style>
    body{
        text-align: center;
    }
    input{
        border: 3px solid;
    }
</style>

<h1><Strong>Información del vuelo</Strong></h1>

<form action="">
    <input type="number" name="capacity" placeholder="Número de personas">
    <button class="btn"><Strong>Comprar</Strong></button>
</form>

<br><br>

<h1><Strong>Aerolínea</Strong>: {{flight.airline}}</h1><br>
<h1 class="loc"><Strong>Desde</Strong> {{flight.origin}} <Strong>hacia</Strong> {{flight.dest}}</h1>
<h1 class="time"<Strong>Hora de salida</Strong> {{flight.dept_time}} <Strong>Hora de llegada</Strong> {{flight.arr_time}}</h1>
<h1 class="date"><Strong>Fecha del vuelo</Strong>: {{flight.date}}</h1>
<h1 class="cost"><Strong>Precio</Strong>: ${{flight.cost}}</h1>

{% endblock %}
