{% extends 'base.html' %}
{% block title %}Regístrese{% endblock %}
{% block body %}

<link rel="stylesheet" href="{{url_for('static', filename='intro.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='comments.css')}}">

<style>
    body {
        font-family: 'Poppins', sans-serif;
    }

    input{
        width: 80%;
        min-width: 280px;
        max-width: 600px;
    }

    textarea{
        width: 80%;
        min-width: 280px;
        max-width: 600px;
        height: 150px;
    }
</style>

<div class="joinus-banner">
    <div>
        <h1>Contáctenos</h1><br>
        <form method="post">
            <div class="inputs" align='center'>
                <input type="text" placeholder="Asunto" name="subject"><br>
                <textarea placeholder="Ingrese su comentario" name="comment"></textarea><br><br>
                <button class="btn">Enviar</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}