{% extends 'base.html' %}
{% block title %}INICIO{% endblock %}
{% block body %}

<style>
    body {
        font-family: 'Poppins', sans-serif;
    }
</style>

<link rel="stylesheet" href="{{url_for('static', filename='intro.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='comments.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='features.css')}}">



<div class="joinus-banner">
    <div style="margin-left: 20px;">
        <h1 class="tagline">¿A donde te  <br> gustaria viajar?</h1>
        <p class="supportline">Viajar es mucho más que hacer "turismo", es un ejercicio de 
            aprendizaje constante que nos aleja de nuestra rutina, nos pone a prueba y permite 
            conocernos mejor a nosotros mismos.

            ¿Por qué viajar? Las razones o excusas sobran: para romper con la rutina, para 
            tomar distancia de tu realidad práctica, para conocer y experimentar de primera 
            mano nuevas culturas, para ver "ese" templo budista que tanto te ha hecho suspirar 
            en fotos, para conocer gente, para conocer-TE, para conocer tus límites... 
            para empujarlos, por experimentar la adrenalina al 100%, por amor a viajar, por 
            placer a lo desconocido, por miedo a lo desconocido, porque sí...</p>
        <button class="btn">Acompáñenos</button>
    </div>
</div>

<div class="features-banner">
    <div>
        <h1 class="tagline">Vuelos al mejor precio con servicio premium</h1>
        <br><br>
        <div class="features">
            <div class="feature">Conexiones sin interrupciones bajo un mismo techo gracias a nuestros prácticos aeropuertos de conexión</div>
            <div class="feature">Entretenimiento a bordo Abrir en una pestaña nueva, puerta a puerta, en la mayoría de los vuelos</div>
            <div class="feature">Más de 200 destinos en todo el mundo</div>
        </div>
    </div>
</div>

<div class="comment-banner">
    <div>
        <h1>Comentarios</h1>
        <br><br>
        <form align='center' method="post">
            <div>
            <input type="text" name="username" placeholder="Usuario"><br><br>
            <input type="email" name="email" placeholder="Correo electrónico" ><br><br>
            <input type="text" name="contact" placeholder="Número de contacto" >
        </div>
            <div>
            <input type="text" name="subject" placeholder="Asunto"><br><br>
            <textarea name="comment" placeholder="Ingrese su comentario"></textarea><br><br>
            <button class="btn" type="submit" style="color: gray; background-color: white;">Enviar</button>
        </div>

        </form>
    </div>
</div>

{% endblock %}
