.joinus-banner {
    padding: 40px 0px;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./aeroplane-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.tagline {
    font-weight: 900;
}

.supportline {
    width: 80%;
    max-width: 1000px;
}

.btn {
    background-color: gray;
    color: white;
    outline: none;
}