{% extends '/admin/base.html' %}
{% block body %}

<style>
    body{
        font-family: 'Poppins', sans-serif;
        text-align: center;
    }
    .comment{
        width: 80%;
        max-width: 400px;
        border: 3px solid;
        border-radius: 22px;
        padding: 20px;
        margin: 20px;
    }
    .comment-title{
        font-size: 24px;
        font-weight: 900;
    }
    .comments{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
</style>

<br><br>

<h1>Comentarios</h1>

<br><br>

<div class="comments">

{% for comment in comments %}
<div class="comment">
    <p class="comment-title">{{comment.subject}}</p>
    <p class="comment-subject">{{comment.comment}}</p>
    <p class="comment-subject">By : <b>{{get(comment.userid).email}}</b></p>
</div>
{% endfor %}

</div>


{% endblock %}